<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block head_bottom_css %}{% endblock head_bottom_css %}
    </head>
    <body style="margin-top: 60px; background-color: lightgray">
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block body_bottom_js %}{% endblock body_bottom_js %}
    </body>
</html>
